body .settings {
    margin-top: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sortBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.filterBlock {
    text-align: right;
    padding-top: 8px;
}

.dateRangeFilter {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}