:root {
  --placeholder-color: #c1c1c1;
  --maxWidth: 1200px;
}

body {
  font-family: Roboto;
  letter-spacing: 0.15em;
  color: var(--mainColor);
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: var(--placeholder-color);
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:    var(--placeholder-color);
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:    var(--placeholder-color);
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:    var(--placeholder-color);
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:    var(--placeholder-color);
}

::placeholder { /* Most modern browsers support this now. */
 color:    var(--placeholder-color);
}
