.row {
  padding: 80px 0;
  align-items: center;
}

.container {
  max-width: var(--maxWidth);
  margin: 0 auto;
}

[data-virtuilized-row] {
  position: relative;
}

[data-virtuilized-row] + [data-virtuilized-row]::before {
  border-top: 2px solid var(--mainColor);
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

[data-virtuilized-row] + [data-virtuilized-row]::after {
  border-top: 5px dashed white;
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}

.meta {
  display: flex;
  justify-content: space-between;
  font-size: 14px;

}

.comment {
  margin-top: 20px;
  font-size: 18px;
  line-height: 27px;
}
